.user-card {
    border: 1px solid gray;
    text-align: center;
}

.user-img {
    max-width: 100px;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 25px;
    cursor: pointer;
}

.edit-btn {
    position: absolute;
    top: 5px;
    right: 40px;
    cursor: pointer;
}