<div class="user-card">
  <span class="edit-btn" (click)="onUserEdit()">
    E
  </span>

  <span class="delete-btn" 
  tooltip="Delete"
  placement="top"
  container="body"
  title="Delete"
  (click)="onDeleteClicked()"
  >X</span>
  <div class="image-holder">
    <img class="user-img" [src]="getUserImage()" alt="user picture" />
  </div>
  <div class="info-holder">
    <div class="name">
        <span>Name: </span><span>{{ user.name }}</span>
    </div>
    <div class="username">
        <span>Username: </span><span>{{ user.username }}</span>
    </div>    
  </div>
</div>