.single-task {
    border: 1px solid gray;
    padding: 20px;
    text-align: center;
}

.assign-btn {
    position: absolute;
    right: 45px;
    top: 5px;
    cursor: pointer;
}

.edit-btn {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 35px;
}

.delete-btn {
    position: absolute;
    right: 25px;
    top: 5px;
    cursor: pointer;
}