<div class="single-task">
  <span *ngIf="isLoggedIn && canAssign"
  class="assign-btn"
  title="Assign"
  (click)="onAssignClick()"
  >A</span>

  <span *ngIf="isLoggedIn"
  class="edit-btn"
  title="Edit"
  (click)="onEditClick()"
  >E</span>

  <span *ngIf="isLoggedIn"
  class="delete-btn"
  title="Delete"
  (click)="onDeleteClick()"
  >X</span>
  <div class="row">
    <div class="col-12">
      <h3>{{ task.title }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>{{ task.description }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span>Creation Date: </span>
      <span>{{ task.creationDate }}</span>
    </div>    
  </div>
  <div class="row">
    <div class="col-12">
      <span>Assignee :</span>
      <div *ngFor="let assignee of task.assignees">
        {{ assignee.name }}
      </div>
    </div>
  </div>
</div>
